

body{
 background-color: #2382DD;


 
}
#contenedor{

    width: 100%;
    display: flex;

}
#contenedor .modulo1{
    background-color: aliceblue;
    
    margin-left: 15%;
    margin: 0px auto;
    
    min-height: 100%;
    width: 40%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 20px;

}

#contenedor .modulo1 img{

    width: 40%;
    display: block;
    margin: 0px auto;
    margin-top: 10%;
    text-align: center;
   
}

#contenedor .modulo1:hover{
background-color: #FAF202;
}

#menu{

    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    white-space: nowrap;
    margin-top: 20px;
}
#menu p{
   color: aliceblue;
    font-size: 30px;
    white-space: nowrap;   
    
}
#menu a{
  
    
    margin-top: 20px;
    margin-bottom: 50px;
    white-space: nowrap; 

}
#menu .home{

    width: 4%;
    float: right;
    margin-right: 25px;
    white-space: nowrap; 
}
#menu .atras{
    float: left;
    width: 4%;
    white-space: nowrap; 
}

#user{


color: aliceblue;

font-size: 30px;

}



   