body{

    background-color: #064A7C;

}

#info{

    text-align: center;
    color: aliceblue;
}

.fondo img{

    max-width: 100%;
    min-height: 30%;
}

.btn{

    background-color: coral;
    padding: 2% 3%;
    border-radius: 20px;
    margin:9% 40% 0% 40%;
    margin-top: 50px;

}
.manual{
display: flex;
justify-content: center;
color: #fff;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a img{

    width: 100px;
    height: 100px;
    position: absolute;top: 0;left: 0;
   
}
.icono{

    width: 150px;
}